<style>
            body {
                font-family: 'Roboto', sans-serif;
            }
            #ce_logo {
                width: 200px;
                height: 200px;
            }
            table {
                width: 95%;
                margin: 2em;
            }
            table, th, td {
                border: 1px solid;
                border-collapse: collapse;
                text-align: left;
            }
            /* Hide "send cloudevent" button by default */
            #send_ce_btn {
                visibility: hidden;
            }
            #send_cloudevent_confirmation {
                visibility: hidden;
            }
</style>